{% extends 'base.html' %}
{% block title %}{{ product.title }} {% endblock %}
{% block navbar %} {% include 'navbar.html' with object=profile %} {% endblock %}
{% block js %}
<script>
$(document).ready(function(){
   
    $("#addtocart").submit(function(event){
        event.preventDefault();
        data = $(this).serialize();
        $.ajax({
            data:data,
            method:'POST',
            url:'/cart/add/',
            beforeSend:function(){

                    $("#cartbutton").html("Adding to Cart......");
            },
            success : function(data){
                $("#message").html('<div class="alert alert-success"><strong>Success!</strong> '+data.Message+' <a href="/cart/"">Place Your Order!</a></div>')
                $("#cartbutton").html("Add to Cart");
            }

        });
    });

    });

</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div id="message"></div>
    <div class="row">
        <div class="col-md-5">
                {% if product.image %}
                <img src="{{ product.image.url }}" style="max-width:300px;width:100%; max-height: 600px; height: 100%;">
                {% endif %}

        </div>
        <div class="col-md-5">
                <h3>{{ product.title }}</h3>

                <h5>About product</h5>
                
                <p>{{ product.description}}</p>
                
                <span>Price: {{ product.price }}</span>
               {% if product.stock > 0 %}
                <form  id="addtocart">  
                        {% csrf_token %}
                        <input type="hidden" name='product' value='{{ product.id }}' />
                        <label> Qunatity </label>
                        <select  name="q">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                   
                        <button type="submit" class="btn-success" id="cartbutton" style="width: 200px;"> Add To Cart</button>
                    
                    </form>
                    {% else %}
                    <h5 style="color:red"> Out Of Stock </h5>
                    {% endif %}

                <form></form>
                
                
        </div>
        <div class="col-md-3">
                
        </div>
    </div>
</div>

{% endblock %}
