<hr>
<div class="row">
<div class="col-md-4 col-sm-6">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" alt="{{ instance.title }}"  style="max-height: 200px;height: 100%;">
    {% endif %}
</div>
<div class="col-md-3 col-sm-6"><h5>
    <a href="{{ instance.get_product_url }}"  style="color: black;">{{ instance.title }}</a></h5>
    <h5>Price: {{ instance.price }} </h5>
    {% if instance.stock > 0 %}
    <h5 style="color:green"> In Stock </h5>
    {% else %}
    <h5 style="color:red"> Out Of Stock </h5>
    {% endif %}
</div>
</div>