<form method="POST", action="{% url 'billing_profile:add_billing_profile' %}" id="BillingProfile">
        {% csrf_token %}
          <div class="form-group">
            <label for="First_Name">First Name</label>
            <input type="text" class="form-control" id="First_Name"  placeholder="First Name" name='First_Name'>
          </div>
      
          <div class="form-group">
                  <label for="Last_Name">Last Name</label>
                  <input type="text" class="form-control" id="Last_Name"  placeholder="Last Name", name='Last_Name'>
                </div>
      
          <div class="form-group">
                  <label for="Phone">Phone</label>
                  <input type="text" class="form-control" id="Phone"  placeholder="Phone", name='Phone'>
                </div>
      
          <div class="form-group">
              <label for="Address">Address</label>
              <textarea name="Address" id='Address' class="form-control"></textarea>
              </div>
      
          <div class="form-group">
                  <label for="City">City</label>
                  <input type="text" class="form-control" id="City"  placeholder="City", name='City'>
                  </div>
          
              <div class="form-group">
                      <label for="State">State</label>
                      <input type="text" class="form-control" id="State"  placeholder="State", name='State'>
                      </div>
              
              <div class="form-group">
                      <label for="Country">Country</label>
                      <input type="text" class="form-control" id="Country"  placeholder="Country", name='Country'>
                      </div>
      
                      <div class="form-group">
                              <label for="Zipcode">Zipcode</label>
                              <input type="text" class="form-control" id="Zipcode"  placeholder="Zipcode", name='Zipcode'>
                              </div>
              
                      
      
          <button type="submit" class="btn btn-primary" id='add_bprofile'>Use this Address</button>
        </form>