{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block style %} 
<style>
  #register-form {
  display: none;
}
body{
  background-color:blueviolet ;
}
#content 
{
  background: white;
  border: gray;
  border-style:solid ;
  border-radius: 1px;
  border-width:1px;
  padding: 10px;
}

</style>
{% endblock %}

{% block js %} 
<script>
    $(document).ready(function(){
     $('#login').click(function(event){
       event.preventDefault()
       $("#register-form").css('display','None');
       $("#login-form").css('display','block')
  
     });
  
     $('#signup').click(function(event){
      event.preventDefault()
       $("#register-form").css('display','block');
       $("#login-form").css('display','None')
  
     });
  
     $("#register").submit(function(event){
      var data = $(this).serialize()
      event.preventDefault()
      $.ajax({
        data : data,
        method: "POST",
        url: '/accounts/register',
        beforeSend: function(data){
          $("#create").html("Creating User......");
        },
        success: function(data){
          if(data.Error)
          {
            $("#message").html('<div class="alert alert-danger alert-dismissible">\
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>\
    <strong>Error! </strong> '+data.Message+'\</div>');
          }

          if(data.Success)
          {
            $("#message").html('<div class="alert alert-info alert-dismissible">\
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> '+data.Message+'\</div>');
          }
          
          
          $("#create").html("CREATE ACCOUNT");
        }
  
      })
  
     });
    });
  </script>

{% endblock %}
      

{% block content %} 
<div class="container-fluid">
</br>
    <div id="message">
      {% for m in messages %}
      {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{m}}
      {% endif %}

      {% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="alert alert-info alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{m}}
      {% endif %}

      {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-info alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{m}}
      {% endif %}
      {% endfor %}
    </div>
      </br>
      </br>
        <div class="row" id='cblock'>
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4 text-center" id="content">
            <div id="register-form" >
           <h5>CREATE ACCOUNT </h5>
                <form class="register-form" id='register'>
                    {% csrf_token %}
                  <div class="form-group">
                      <input type="text"  class='form-control' placeholder="Your Name" name="name" required/>
                  </div>
                  
                  <div class="form-group">
                      <input type="text" class='form-control' placeholder="Email" name="email"required/>
                  </div>
                  
                  <div class="form-group">
                      <input type="text" class='form-control' placeholder="Mobile Number" name="mobile" required/>
                  </div>
                  <div class="form-group">
                      <input type="password" class='form-control' placeholder="Password" name="password" required/>
                  </div>
                  <div class="form-group">
                      <button type="submit" id='create' class='form-control' style="background: purple;color:white"> CREATE ACCOUNT</button>
                  </div>
                  
                  
                  
                  <p class="message">Already registered? <a href="#" id='login' style="color:purple">Sign In</a></p>
                  
                </form>
            </div>
              <div id='login-form'>
                  <h5>ACCOUNT LOGIN </h5>
                  <form class="login-form" method="POST" action="{% url 'account:login' %}">
                      {% csrf_token %}
                      <div class="form-group">
                          <input type="email" placeholder="Email" class='form-control'  name="email" required/>
                      </div>
                      <div class="form-group">
                          <input type="password" placeholder="password" class='form-control' name="password" required/>
                      </div>
                      <div class="form-group">
                          <button class='form-control' style="background: purple; color: white;">LOGIN</button>
                      </div>
                      <p class="message">Not registered? <a href="#" id='signup' style="color:purple">Create an account</a></p>
                      
                    </form>
                
                </div>

          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>

        
      </div>
{% endblock %}